In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cape Town,-33.9258,18.4232,59.27,73,52,4.00,ZA,2021-11-08 02:03:04
1,1,Ushuaia,-54.8000,-68.3000,34.90,91,37,4.38,AR,2021-11-08 02:01:34
2,2,Lalibela,12.0333,39.0333,57.20,53,91,2.77,ET,2021-11-08 02:03:04
3,3,Butaritari,3.0707,172.7902,82.24,68,5,11.74,KI,2021-11-08 02:00:39
4,4,Richards Bay,-28.7830,32.0377,70.39,95,100,3.56,ZA,2021-11-08 02:03:05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Butaritari,3.0707,172.7902,82.24,68,5,11.74,KI,2021-11-08 02:00:39
15,15,Dong Hoi,17.4833,106.6000,75.06,88,99,24.27,VN,2021-11-08 02:03:09
25,25,Itarema,-2.9248,-39.9167,79.11,80,66,7.61,BR,2021-11-08 02:03:13
27,27,Vaini,-21.2000,-175.2000,78.96,94,75,5.75,TO,2021-11-08 02:03:14
30,30,Avarua,-21.2078,-159.7750,77.05,57,23,14.97,CK,2021-11-08 02:03:15
35,35,Atuona,-9.8000,-139.0333,78.40,75,10,16.87,PF,2021-11-08 01:58:28
41,41,Grand Gaube,-20.0064,57.6608,75.38,76,25,5.99,MU,2021-11-08 02:03:20
43,43,Sabang,5.8933,95.3214,81.43,78,90,9.01,ID,2021-11-08 02:03:21
49,49,Katobu,-4.9408,122.5276,89.17,59,100,2.51,ID,2021-11-08 02:04:24
50,50,Bogale,16.2833,95.4000,80.06,81,61,8.88,MM,2021-11-08 02:04:24

In [13]:
preferred_cities_df.count()

City_ID       141
City          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
Country       141
Date          141
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
3    Butaritari      KI     82.24   3.0707  172.7902
15     Dong Hoi      VN     75.06  17.4833  106.6000
25      Itarema      BR     79.11  -2.9248  -39.9167
27        Vaini      TO     78.96 -21.2000 -175.2000
30       Avarua      CK     77.05 -21.2078 -159.7750
35       Atuona      PF     78.40  -9.8000 -139.0333
41  Grand Gaube      MU     75.38 -20.0064   57.6608
43       Sabang      ID     81.43   5.8933   95.3214
49       Katobu      ID     89.17  -4.9408  122.5276
50       Bogale      MM     80.06  16.2833   95.4000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found..... skipping!")

Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!
Hotel not found..... skipping!

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Butaritari,KI,82.24,3.0707,172.7902,Isles Sunset Lodge
15,Dong Hoi,VN,75.06,17.4833,106.6000,Nam Long Hotel
25,Itarema,BR,79.11,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
27,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
30,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.



locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)





fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))