## Deliverable 3. Create a Travel Itinerary Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import sys
sys.path.append("..")
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [27]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Pathein,MM,87.12,clear sky,16.7833,94.7333,New Pammawaddy Hotel
1,12,Itarema,BR,77.54,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
2,16,Lorengau,PG,84.61,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,18,Santa Rosa,PH,89.58,broken clouds,14.3122,121.1114,Erlyn’s Sta Rosa City Home
4,19,Bambous Virieux,MU,82.22,broken clouds,-20.3428,57.7575,Casa Tia Villa

In [28]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

itenary =  vacation_df[vacation_df["Country"] == "MX"]
itenary

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,59,Coahuayana,MX,75.09,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
25,124,Cabo San Lucas,MX,80.51,scattered clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
67,293,Puerto Escondido,MX,77.20,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
85,358,Lazaro Cardenas,MX,76.48,broken clouds,17.9583,-102.2000,quinta antigua
101,418,Acapulco,MX,77.13,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
118,476,Pochutla,MX,76.82,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
161,643,Tecoanapa,MX,75.40,broken clouds,16.5167,-98.7500,Hotel Manglares

In [36]:

vacation_start = vacation_df.loc[vacation_df['City'] == 'Puerto Escondido']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Puerto Escondido']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Pochutla'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Tecoanapa']

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,293,Puerto Escondido,MX,77.20,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
1,418,Acapulco,MX,77.13,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,476,Pochutla,MX,76.82,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
3,643,Tecoanapa,MX,75.40,broken clouds,16.5167,-98.7500,Hotel Manglares

In [41]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))